/* 05.32. Open Position */
.open-position {
	clear: both;

	&:hover {
		.open-position__content-container {
			border-left-color: $brand-primary;
		}
	}

	&__content-container {
		border: 1px solid $gray-lightest;
		border-left: 3px solid #dddddd;
		padding: (38rem / 16) (45rem / 16) (22rem / 16);
		transition: $primary-transition;

		@include media-breakpoint-up(lg) {
			float: left;
			width: 65%;
		}
	}

	&__title {
		font-size: (20rem / 16);
		float: left;
		margin-bottom: 0;
	}

	&__date {
		font-family: $secondary-font;
		font-size: (20rem / 16);
		font-weight: bold;
		color: #cccccc;
		line-height: 1.1;
		float: right;
	}

	&__content {
		border-top: 1px solid $gray-lighter;
		clear: both;
		margin-top: (48rem / 16);
		padding-top: (20rem / 16);

		.read-more {
			text-transform: uppercase;
			font-size: (15rem / 16);
			font-family: $secondary-font;
			font-weight: bold;

			.fa {
				margin-right: (10rem / 16);
			}

			&:focus {
				color: $link-color;
			}

			&:focus,
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__details {
		background-color: $gray-lightest;
		padding: (39rem / 16) (45rem / 16) (35rem / 16);

		@include media-breakpoint-up(lg) {
			float: right;
			width: 35%;
		}

		&-title {
			margin-bottom: (25rem / 16);
		}

		&-item {
			padding-top: (17rem / 16);
			margin-top: (17rem / 16);
			border-top: 1px solid #dddddd;
			font-size: (14rem / 16);

			&-icon {
				vertical-align: middle;
				font-size: (18rem / 16);
			}

			&-text {
				vertical-align: middle;
				margin-left: (15rem / 16);
			}
		}
	}
}
