/* 05.35. Comments */
.comments {
	margin-bottom: (75rem / 16);

	&__heading {
		margin-bottom: 2.4375rem;

		&--write-a-comment {
			margin-bottom: 1rem;
		}
	}

	&__container {
		margin-bottom: 1.875rem;
	}
}

.avatar {
	&__container {
		float: left;
		width: 12%;

		.avatar {
			width: 100%;
			height: auto;
		}
	}
}

.comment {
	@include list-unstyled;

	&__content {
		float: left;
		position: relative;
		width: calc(88% - 1.25rem);
		margin-left: 1.25rem;

		@include media-breakpoint-up(lg) {
			width: calc(88% - 2.8125rem);
			margin-left: 2.8125rem;
		}

		&::before {
			position: absolute;
			content: '';
			top: .75rem;
			left: -.375rem;
			width: .75rem;
			height: .75rem;
			background-color: #ffffff;
			transform: skewX(45deg);
			border-left: 1px solid $gray-lighter;
			border-top: 1px solid $gray-lighter;

			@include media-breakpoint-up(lg) {
				top: 1.6875rem;
				left: -.625rem;
				width: 1.25rem;
				height: 1.25rem;
			}
		}

		.children {
			padding-left: 0;
		}
	}

	&__inner {
		border-top: 3px solid $brand-primary;
		border-bottom: 1px solid $gray-lighter;
		border-left: 1px solid $gray-lighter;
		border-right: 1px solid $gray-lighter;
		padding: .9375rem 1.875rem 1.875rem;
		margin-bottom: 1.875rem;

		.children & {
			border-top-color: $gray-lighter;
		}
	}

	&__author, {
		font-family: $secondary-font;
		font-style: normal;
		font-weight: bold;
		font-size: .9375rem;

		a {
			color: $gray-dark;
		}
	}

	&__metadata {
		font-family: $secondary-font;
		font-weight: bold;
		font-size: .9375rem;

		@include media-breakpoint-up(lg) {
			float: right;
		}

		time {
			color: #cccccc;
		}

		a {
			position: relative;
			margin-left: .3125rem;
			padding-left: .625rem;

			&::before {
				position: absolute;
				content: '';
				width: 1px;
				height: 1.25rem;
				background-color: $gray-lighter;
				left: 0;
				top: 0;
			}
		}
	}

	&__text {
		border-top: 1px solid $gray-lighter;
		margin-top: .8125rem;
		padding-top: .75rem;
		font-size: .875rem;

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}
