/* 05.15. Portfolio Grid */
.portfolio-grid {

	$border-color:        $gray-lighter;
	$border-color-slider: #dddddd;
	$animation-duration:  .2s; // needs to be in sync with JS
	$arrow-size:          (45rem / 16);

	&__header {
		margin-bottom: (30rem / 16);
		position: relative;

		@include media-breakpoint-up(lg) {
			border-bottom: 1px solid $border-color;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		position: relative;

		@include media-breakpoint-up(lg) {
			display: block;
			overflow: visible;
			position: static;
		}

		&-item {
			text-overflow: ellipsis;

			@include media-breakpoint-up(lg) {
				display: inline-block;
				margin-right: (31rem / 16);
			}

			&.is-active {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				color: $gray-dark;

				@include media-breakpoint-up(lg) {
					position: relative;
				}

				&::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 3px;
					background-color: $brand-primary;

					@include media-breakpoint-up(lg) {
						bottom: -1px;
					}
				}

				> .portfolio-grid__nav-link {
					color: $gray-dark;
				}
			}
		}

		&-link {
			font-size: (15rem / 16);
			font-family: $secondary-font;
			font-weight: bold;
			display: block;
			padding-top: 1rem;
			padding-bottom: 1rem;
			color: $gray-light;
			transition: $primary-transition;

			@include media-breakpoint-up(lg) {
				display: inline-block;
				padding-top: (8rem / 16);
				padding-bottom: (37rem / 16);
			}

			&:focus,
			&:hover {
				text-decoration: none;
				color: $gray-dark;
			}
		}
	}

	&__mobile-filter {
		position: absolute;
		right: 0;
		top: (3rem / 16);
		z-index: 2;
		height: $arrow-size;
		line-height: $arrow-size;
		padding-top: 0;
		padding-bottom: 0;
	}

	&__arrows {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		opacity: 1;
		visibility: visible;
		transition: opacity .2s;

		@include media-breakpoint-up(lg) {
			position: static;
			width: (2 * $arrow-size + (10rem / 16));
			float: right;
		}
	}

	&__arrow {
		text-align: center;
		height: $arrow-size;
		line-height: $arrow-size;
		box-shadow: $box-shadow;
		border-radius: $border-radius;
		color: $gray-light;
		background-color: #ffffff;
		flex: 0 0 calc(50% - #{15rem / 16});

		@include media-breakpoint-up(lg) {
			flex: 0 0 $arrow-size;
		}

		&:focus,
		&:hover {
			color: $gray-dark;
		}
	}

	&__card {
		display: block;
		color: $gray-light;
		margin-bottom: (30rem / 16);

		&-block {
			padding: (15rem / 16) (19rem / 16) (14rem / 16);
			position: relative;

			&::after {
				position: absolute;
				content: '';
				border: 10px solid rgba(0, 0, 0, 0);
				border-width: 0 0 10px 10px;
				border-bottom-color: #cccccc;
				bottom: (10rem / 16);
				right: (10rem / 16);
				transition: $primary-transition;
			}
		}

		&-img {
			width: 100%;
		}

		&-title {
			font-size: (15rem / 16);
			margin-bottom: (1rem / 16);
			transition: $primary-transition;
		}

		&-text {
			font-size: (14rem / 16);
		}

		&:focus,
		&:hover {
			text-decoration: none;
			color: $gray-light;

			.portfolio-grid__card-title {
				color: $brand-primary;
			}

			.portfolio-grid__card-block::after {
				border-bottom-color: $brand-primary;
			}
		}

		&--dummy {
			border: 3px dotted #cccccc;
			background-color: #f1f1f1;

			.fa {
				color: #cccccc;
			}

			.portfolio-grid__card-block {
				padding: (40rem / 16) (10rem / 16) (24rem / 16);

				&::after {
					display: none;
				}
			}

			.portfolio-grid__card-title {
				color: $gray-light;
				padding-top: (3rem / 16);
				padding-bottom: (26rem / 16);
			}

			&:focus,
			&:hover {
				.portfolio-grid__card-title {
					color: $gray-light;
				}
			}
		}
	}

	// &--grid {}
	&--slider {
		.portfolio-grid__header {
			border-bottom-color: $border-color-slider;
			padding-bottom: ($arrow-size + (30rem / 16));

			@include media-breakpoint-up(lg) {
				padding-bottom: 0;
			}
		}

		.portfolio-grid__card {
			box-shadow: $box-shadow;
		}

		.portfolio-grid__card-block {
			border: 0;
		}

		&.is-nav-arrows-hidden {
			.portfolio-grid__arrows {
				display: none;
			}

			.portfolio-grid__header {
				padding-bottom: 0;
			}
		}
	}

	// animations
	@keyframes fadeout {
		from {
			opacity: 1;
			transform: scale(1);
		}

		to {
			opacity: 0;
			transform: scale(0);
		}
	}

	.is-fadeout {
		animation: fadeout ease-in-out $animation-duration 1 forwards;
	}

	.is-fadein {
		animation: fadeout ease-in-out $animation-duration 1 reverse forwards;
	}
}
